*.elc
.AppleDouble
.DS_Store
.SyncArchive/*
.SyncID
.SyncIgnore
.cache
.mc-lists.el
.places
ac-comphist.dat
auto-save-list/*
backups/
company-statistics-cache*
el-get/*
elpa/*
elscreen
ensime
eshell
games/*
hgs-cache
ido.last
persp-confs/*
project-explorer-cache/*
projectile-bookmarks.eld
projectile.cache
recentf
saved-places
sessions/*
smex-items
srecode-map.el
tramp
url/*
var
